<table class="stats">
	<tr>
		<th></th>
		<th>{{exercise}}</th>
		<th>Totals</th>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<th>Gains</th>
		<td>{{sgains}}</td>	
		<td>{{xgains}}</td>	
	</tr>
	<tr>
		<th>Records</th>
		<td>{{srecords}}</td>
		<td>{{xrecords}}</td>	
	</tr>
	<tr>
		<th>Challenges</th>
		<td>{{schallenges}}</td>
		<td>{{xchallenges}}</td>
	</tr>
	<tr>
		<th>Sets</th>
		<td>{{ssets}}</td>
		<td>{{xsets}}</td>
	</tr>
	<tr>
		<th>Reps</th>
		<td>{{sreps}}</td>
		<td>{{xreps}}</td>
	</tr>
	<tr>
		<th>Pounds</th>
		<td>{{sweight}}</td>
		<td>{{xweight}}</td>
	</tr>
	<tr>
		<th>1RM</th>
		<td>{{soneRM}}</td>
		<td>{{xoneRM}}</td>
	</tr>
</table>