<div class="tabs" >

	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-5" name="tab-group-1">
	    <label class="tab-label" for="tab-5">Stats</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-stats></my-stats>
			</div>
		</div>
	</div>
	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-6" name="tab-group-1" checked>
	    <label class="tab-label" for="tab-6">Set</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-set></my-set>
			</div>
		</div>	    
	</div>
	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-1" name="tab-group-1">
	    <label class="tab-label" for="tab-1">History</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-history></my-history>
			</div>
		</div>	    
	</div>
	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-2" name="tab-group-1">
	    <label class="tab-label" for="tab-2">Stacks</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-stacks></my-stacks>
			</div>
		</div>	    
	</div>
	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-3" name="tab-group-1">
	    <label class="tab-label" for="tab-3">Pumps</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-pumps></my-pumps>
			</div>
		</div>	    
	</div>
	<div class="tab">
	    <input class="tab-radio" type="radio" id="tab-4" name="tab-group-1">
	    <label class="tab-label" for="tab-4">Challenges</label>
	    <div class="tab-panel" id="table-wrapper">
			<div class="tab-content">
				<my-challenges></my-challenges>
			</div>
		</div>
	</div>

</div>